certifi
chardet
django>=2.2.24
django-crispy-forms
crispy-bootstrap4
django-dotenv
django_mathfilters
django-resources
django_secretballot
django_tempus_dominus
django-tests
django_vote
idna
pip
psycopg2
pytest
python_dotenv
pytz
requests
setuptools
urllib3
yelpapi
