.thumbnail {
    display: block;
    padding: 4px;
    background-color: #fffadf;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 318px;
    height: 595px;
    float: left;
}

p.small {
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.address {
    height: 48px;
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    cursor: auto;
}

.navbar-nav {
    padding-top: 0.5rem;
}

.drop {
    padding: 0px 0.75rem;
}

ul li:hover ul {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    left: 2em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

.dropdown, .dropdown-submenu {
    padding-left: 0;
    padding: .5rem .75rem;
}

a.nav-link {
    color: #ffffff;
    padding-left: 0;
}

h1, h2, h3, h4 {
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h5 {
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.blocktext {
    justify-content: center;
}

/* Star Rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
    margin: 0;
    padding: 0;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 10px;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    padding-bottom: 10px;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}