{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    My name is Nathan.
    I'm a software engineer and also currently a Master's Degree student at CSUF.
    This is the project that I've chosen to do as a part of the Master's program.
    As someone who loves development projects, I decided to do a web project because I wanted to learn something relatively new.
    The idea is to provide a means of addressing a common problem that people encounter frequently: decision-making.
    To start off small, I'm focusing on helping people decide where to eat, but I hope to take on others as well in the future!
</p>

{% endblock %}
