{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>
    My name is Nathan. I'm a software engineer by trade, who decided to pursue a Master's Degree while working full-time.
    One of the requirements of the program is that we take on a project to learn/benefit ourselves professionally.
    As someone who loves development projects, I decided to do a web project that addresses a common problem that people encounter: decision-making.
    To start off small, I'm focusing on helping people decide where to eat, but I hope to take on others as well in the future!
</p>

{% endblock %}
