{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <form action="{% url 'create_group' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.name|as_crispy_field }}
            <input type="submit" value="Create group" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}
