{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ title }}</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form id="vote-add" action="{% url 'create_group_vote' %}?g={{ group.name }}" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.name|as_crispy_field }}
                {{ form.grp }}
                <input name="g" type="hidden" value="{{ group.name }}">
                <input type="submit" value="Start vote" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
