{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <h4>{{ group.name }}</h4>
        <ul>
            {% for u in users %}
            <li class="dropdown-item">
                <a href="{% url 'profile' %}?u={{ u.username }}">{{ u.username }}</a>
            </li>
            {% endfor %}
        </ul>

        <form action="{% url 'group' %}?g={{ group.name }}" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form.username|as_crispy_field }}
            <input type="submit" value="Add user" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}
