{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ group.name }}</h1>
        <h2 id="vid" value="{{ group_vote.vote_id }}">{{ group_vote.vote_id }}</h2>
        <br/>
        <a class="btn btn-primary" href="{% url 'group' %}?g={{ group.name }}">Back to Group Page</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <h4>Vote results</h4>
    </div>
    <div id="vote_chart_report" class="row">
        <canvas id="vote_chart"></canvas>
    </div>
    <div class="row">
        <h4>Vote options</h4>
    </div>

    {% if results %}
    <div class="row">
        {% include 'app/pagination_vote.html' %}
    </div>
    <div class="row">
        {% for element in results.object_list %}
            {% include 'app/result_vote.html' %}
        {% endfor %}
    </div>
    <div class="row">
        {% include 'app/pagination_vote.html' %}
    </div>
    {% else %}
    <div class="row">
        <h3>No results!</h3>
    </div>
    {% endif %}
</div>
{% endblock %}