{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ group.name }}</h1>
        <br/>
        <a class="btn btn-primary" href="{% url 'voting' %}">Back to Group Voting Page</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul>
            <li><p><h4>Group Voting</h4></p></li>
            <li><a class="btn btn-success" href="{% url 'create_group_vote' %}?g={{ group.name }}">Start a Vote</a></li>
            <li><ul>
                {% for v in active_votes %}
                <li><a href="{% url 'group_vote' %}?g={{ group.name }}&v={{ v }}" class="dropdown-item" tabIndex="-1">{{ v }}</a></li>
                {% endfor %}
            </ul></li>
        </ul>
    </div>
    <br/>
    <div class="row">
        <ul>
            <li><h4>Group members</h4></li>
            <li>
                <ul>
                    <li><a class="btn btn-warning" href="{% url 'group_manage' %}?g={{ group.name }}">Manage Group</a></li>
                    <br/>
                    {% for u in users %}
                    <li>{{ u.username }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        
    </div>
</div>
{% endblock %}