{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">{{ group.name }}</h1>
        <a class="btn btn-primary" href="{% url 'group' %}?g={{ group.name }}">Back to Group Page</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul>
            <li><p><h4>Add a member</h4></p></li>
            <li><form id="addusertogroup" action="{% url 'group_manage' %}?g={{ group.name }}" method="post" class="form-horizontal">
                {% csrf_token %}
                {{ form.usr|as_crispy_field }}
                {{ form.act }}
                {{ form.grp }}
                <input name="aa" type="hidden" value="add">
                <input name="ga" type="hidden" value="{{ group.name }}">
                <input class="btn btn-info grp-add" type="submit" value="Add user">
            </form></li>
        </ul>
    </div>
    <br/>
    <div class="row">
        <ul>
            <li><h4>Group members</h4></li>
            <li>
                <ul>
                    {% for u in users %}
                    <li><form action="{% url 'group_manage' %}?g={{ group.name }}" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <input name="act" type="hidden" value="rem">
                        <input name="grp" type="hidden" value="{{ group.name }}">
                        <input name="usr" type="hidden" value="{{ u.username }}">
                        <input class="btn btn-danger grp-rem" type="submit" value="-">
                        <a href="{% url 'profile' %}?u={{ u.username }}">{{ u.username }}</a>
                    </form></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        
    </div>
</div>
{% endblock %}