{% extends "app/layout.html" %}

{% include 'app/messages.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">DelibeRating</h1>
        <p class="lead">A free web app to help you or your group make a decision.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <h4>We can't decide/agree...</h4>
    </div>
    <div class="row">
        <p><a class="btn btn-secondary" href="{% url 'suggestions' %}" role="button">Help us vote &raquo;</a></p>
    </div>
</div>
{% endblock %}