{% extends "app/layout.html" %}

{% include 'app/messages.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"><b>DelibeRating</b></h1>
        <h4>A free web app to help you and/or your group decide where to eat.</h4>
        <br/>
        <button class="btn btn-secondary" data-toggle="collapse" data-target="#features">Features</button>
        <div id="features" class="collapse">
            <p>
                <br/>
                <b>Search</b>
                <br/>
                Tailor your searches how you like, and make a decision for yourself.
                <br/>
                <br/>
                <b>Randomizer:</b>
                <br/>
                Have a random place chosen for you, given a set of search criteria.
                <br/>
                <br/>
                <b>Stars:</b>
                <br/>
                These let the app know which places you really like, so that you never forget.
                <br/>
                <br/>
                <b>Thumbs up:</b>
                <br/>
                These let the app know what you like, so that it can suggest similar places.
                <br/>
                <br/>
                <b>Thumbs down:</b>
                <br/>
                These let the app know what you don't like, which disables most features for them.
                <br/>
                <br/>
                <b>Voting:</b>
                <br/>
                Create a group, and start a vote to decide where you want to eat with your group.
            </p>
        </div>
    </div>
</div>

<!-- TODO: Could enhance page by including buttons for most searched categories -->

{% if results %}
<h2>Some new and popular places</h2>
<div class="row">
    <div class="col-2">
        <ul>
            <li class="ctr">
                <button class="btn btn-secondary ctr" onClick="window.location.reload();">Refresh</button>
            </li>
        </ul>
    </div>
</div>
{% for element in results.object_list %}
    {% include 'app/result.html' %}
{% endfor %}
{% endif %}
{% endblock %}