{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>DelibeRating</h1>
    <p class="lead">DelibeRating is a free web app to help you or your group make a decision.</p>
    <p><a href="{% url 'about'%}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>I can't decide...</h2>
        <p>Help me narrow down my choices, so that I can make a decision.</p>
        <p><a class="btn btn-default" href="{% url 'todo' %}">Help me choose &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We can't decide/agree...</h2>
        <p>Start a group vote, so everyone can have input.</p>
        <p><a class="btn btn-default" href="{% url 'todo' %}">Help us vote &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>I/we just have no idea...</h2>
        <p>Have us make a choice for you, based on what you've shared with us.</p>
        <p><a class="btn btn-default" href="{% url 'todo' %}">Choose for me &raquo;</a></p>
    </div>
</div>

{% endblock %}
