<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{{ title }} - DelibeRating</title>

    {% load staticfiles %}

    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jumbotron.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/deliberating.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    {# Django Tempus Dominus assets #}
    {# time_form.media }} #}
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">DelibeRating</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link nav-right" href="{% url 'suggestions' %}">Suggestions</a>
                    <a class="nav-link nav-right" href="{% url 'vote' %}">Group vote</a>
                </li>
                {% include 'app/loginpartial.html' %}
            </ul>
            {% include 'app/search_form.html' %}
        </div>
    </nav>

{% block content %}{% endblock %}

<script type="text/javascript" src="{% static 'app/scripts/respond.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/alert.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/deliberating.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>