<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{{ title }} - DelibeRating</title>

    {% load staticfiles %}

    {% block scripts %}
    <script type="text/javascript" src="{% static 'app/scripts/respond.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-1.12.4.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/alert.js' %}"></script> 
    <script type="text/javascript" src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/chart.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/deliberating.js' %}"></script>
    <script type="text/javascript" src="{% static 'app/scripts/jqcloud.js' %}"></script>
    {% endblock %}

    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jumbotron.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/deliberating.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jquery-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jqcloud.css' %}" />

    {# Django Tempus Dominus assets #}
    {# time_form.media }} #}
</head>

<body>
    <nav class="navbar navbar-toggleable-lg navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">DelibeRating</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <div class="dropdown">
                <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">Decide</button>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="{% url 'suggestions' %}">Suggestions</a>
                        {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'voting' %}">Group vote</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% include 'app/loginpartial.html' %}
            {% include 'app/search_form.html' %}
        </div>
    </nav>

{% block content %}{% endblock %}

</body>
</html>