<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{{ title }} - DelibeRating</title>

    {% load staticfiles %}

    <link rel="icon" href="{% static 'app/images/favicon.ico' %}" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/jumbotron.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/font-awesome.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/deliberating.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>

    {# Django Tempus Dominus assets #}
    {{ time_form.media }}
</head>

<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">DelibeRating</a>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link nav-right" href="#">Link</a>
            </li>
            {% include 'app/loginpartial.html' %}
        </ul>
        <form id="search" name="search" class="form-inline my-2 my-lg-0" type="get" action="{% url 'search' %}">
            <input id="q" class="form-control mr-sm-2" type="text" placeholder="Search" required>
            <input id="loc" class="form-control mr-sm-2" type="text" placeholder="Location" value="Irvine, CA" required>
                       
            <div class="dropdown">
                <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Filters</button>
                <ul class="dropdown-menu">
                    <li class="dropdown-submenu button-group">
                        <a class="drop dropdown-item dropdown-toggle" href="#">Radius</a>
                        <ul class="dropdown-menu rdo">
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id="rad1" class="rdobtn" data-value="1610" type="radio" disabled/>&nbsp;1 mile</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id="rad2" class="rdobtn" data-value="3220" type="radio" disabled/>&nbsp;2 miles</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id="rad5" class="rdobtn" data-value="8050" type="radio" disabled/>&nbsp;5 miles</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id="rad10" class="rdobtn" data-value="16100" type="radio" disabled/>&nbsp;10 miles</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id="rad20" class="rdobtn" data-value="32200" type="radio" disabled/>&nbsp;20 miles</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="drop dropdown-item dropdown-toggle" href="#">Price</a>
                        <ul class="dropdown-menu chk">
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id ="price1" class="chkbox" data-value="1" type="checkbox" disabled>&nbsp;$</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id ="price2" class="chkbox" data-value="2" type="checkbox" disabled>&nbsp;$$</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id ="price3" class="chkbox" data-value="3" type="checkbox" disabled>&nbsp;$$$</a></li>
                            <li><a href="#" class="dropdown-item" tabIndex="-1"><input id ="price4" class="chkbox" data-value="4" type="checkbox" disabled>&nbsp;$$$$</a></li>
                        </ul>
                    </li>
                    <li class="chk"><a href="#" class="dropdown-item" tabIndex="-1"><input id="opennow" type="checkbox" data-value="true" disabled/>&nbsp;Open now</a></li>
                    <!--TODO: Time Picker <li><a class="dropdown-item" tabindex="-1" href="#">Open at</a></li>-->
                </ul>
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            {#  TODO: Time Picker {{ time_form.as_p }}#}
        </form>
        </div>
    </nav>

{% block content %}{% endblock %}

<script type="text/javascript" src="{% static 'app/scripts/respond.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'app/scripts/alert.js' %}"></script>
{% block scripts %}{% endblock %}

    <script>
        $(document).ready(function () {
            var options = [];

            $('.dropdown-menu a').on('click', function (event) {
                event.stopPropagation();
                event.preventDefault();
            });
            
            $('.chk a').on('click', function () {
                var $checkbox = $(this).find(':checkbox');

                $checkbox.attr('checked', !$checkbox.attr('checked'));
                event.stopPropagation();
                event.preventDefault();
            });
            
            $('.rdo a').on("click", function (event) {
                var $radio_button = $(this).find(':radio');

                $('input[type="radio"]').prop('checked', false);
                $radio_button.prop("checked", true);
                event.stopPropagation();
                event.preventDefault();
                
            });

            $('#search').submit(function (event) {
                var action = ($('#search').attr('action'));
                var query = String(($('input[id="q"]').val()))
                var location = String(($('input[id="loc"]').val()))
                var price = [];
                var radius = ($('input[type="radio"]:checked').is(':checked')) ? ($('input[type="radio"]:checked').attr('data-value')) : 8050;
                var opennow = ($('input[id="opennow"]').attr('checked')) ? true : false;

                if ($('#price1').is(':checked')) {
                    price.push('1');
                }
                if ($('#price2').is(':checked')) {
                    price.push('2');
                }
                if ($('#price3').is(':checked')) {
                    price.push('3');
                }
                if ($('#price4').is(':checked')) {
                    price.push('4');
                }
                if (price.length === 0) {
                    price = ['1', '2', '3', '4']
                }

                var parameters = String('?q=' + String(query) + '&loc=' + String(location) +
                    '&rad=' + String(radius) + '&price=' + String(price) + '&open=' + String(opennow))

                $('#search').attr('action', action + parameters );
                
                $('#search').unbind().submit();

                return true;
            });
        });
    </script>

</body>
</html>