{% if user.is_authenticated %}
<div class="dropdown">
    <button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown">{{ user.username }}</button>
    <ul class="dropdown-menu">
        <li class="dropdown-submenu">
            <a class="dropdown-item" href="{% url 'profile' %}?u={{ user.username }}">Profile</a>
            <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
            {% if user.is_superuser %}
            <a class="dropdown-item" href="admin/">Admin</a>
            {% endif %}
            <form id="logoutForm" action="/logout" method="post">
                {% csrf_token %}
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </form>
        </li>
    </ul>
</div>
{% else %}
<div><a class="nav-link" href="{% url 'login' %}">Log in</a></div>

{% endif %}