<ul class="pagination">
    {% if results.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ results.previous_page_number }}&q={{ query }}&loc={{ location }}" tabindex="-1">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page=1&q={{ query }}&loc={{ location }}" tabindex="-1">Previous</a>
    </li>
    {% endif %}

    {% for i in pages %}
    <li class="page-item{% ifequal i results.number %}{% else %} active{% endifequal %}">
        <a class="page-link" href="?page={{ i }}&q={{ query }}&loc={{ location }}">{{ i }}</a>
    </li>
    {% endfor %}

    {% if results.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ results.next_page_number }}&q={{ query }}&loc={{ location }}" tabindex="{{ results.paginator.num_pages }}">Next</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" href="?page={{ results.paginator.num_pages }}&q={{ query }}&loc={{ location }}" tabindex="{{ results.paginator.num_pages }}">Next</a>
    </li>
    {% endif %}
</ul>