{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <img src="{% static 'images/no_user_photo.jpg' %}" alt="" height="200" width="200">
        </div>
        <div class="row">
            <h3><b>{{ user.first_name }} {{ user.last_name }}</b></h3>
        </div>
    </div>
</div>
<br/>

<div class="container">
    <div class="row">
        <h4><b>Username: </b>{{ user.username }}</h4>
    </div>
    <div class="row">
        <h4><b>Groups: </b></h4>
        <ul>
            {% for g in groups %}
                <li><a href="{% url 'group' %}?g={{ g }}"><h6>{{ g }}</h6></a></li>
            {% endfor %}
        </ul>
    </div>
    <br/>
    <!--<div class="row">
        <a class="btn btn-danger" href="{% url 'delete_user' %}?u={{ user.username }}" tabIndex="-1">Delete my account</a>
    </div>-->
</div>
{% endblock %}
