{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}

{% block content %}
<h3>Profile of {{ user.username }}</h3>
<br/>
<div class="row">
    <div class="col-md-8">
        <div class="thumbnail user">
            <img src="{% static 'images/no_user_photo.jpg' %}" alt="" height="308" width="308">
            <div class="caption">
                <h4><b>Name: </b>{{ user.first_name }} {{ user.last_name }}</h4>
                <h4><b>Groups: </b></h4>
                <ul>{% for g in groups %}
                    <li>{{ g }}</li>
                {% endfor %}</ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
