{% extends "app/layout.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}

{% include 'app/messages.html' %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <img src="{% static 'images/no_user_photo.jpg' %}" alt="" height="200" width="200">
        </div>
        <div class="row">
            <h3><b>{{ user.first_name }} {{ user.last_name }}</b></h3>
        </div>
    </div>
</div>
<br/>

<div class="container">
    <div class="row">
        <h4><b>Username: </b>{{ user.username }}</h4>
    </div>
    <div class="row">
        <ul>
            <h4><b>Groups: </b></h4>
            {% for g in groups %}
                <li>{{ g }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
