{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="registrationForm">
            <form action="{% url 'register' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Create a new account</h4>
                {{ form.as_p }}
                <input type="submit" value="Create new user account" class="btn btn-default" />

                {% if form.errors %}
                    <div class="alert alert-error">
                        <ul>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>
        </section>
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}

{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
