{% extends "app/layout.html" %}

{% block content %}

<h2>Search results:</h2>

{% if results %}
    {% include 'app/pagination.html' %}
    {% for element in results.businesses %}
        {% include 'app/result.html' %}
    {% endfor %}
{% else %}
    <h3>No results!</h3>
{% endif %}

{% if form.errors %}
{{ form.errors }}
    <p class="validation-summary-errors">Please enter a correct user name and password.</p>
{% endif %}

<div class="col-md-4">
    <section id="socialLoginForm"></section>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
