{% extends "app/layout.html" %}

{% load staticfiles %}

{% include 'app/messages.html' %}
{% include 'app/form_errors.html' %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4"><b>{{ title }} Results</b></h1>
    </div>
</div>

<div class="container">
    {% if results %}
    <div class="row">
        {% include 'app/pagination.html' %}
    </div>
    <div id="search_results" class="row">
        {% for element in results.object_list %}
            {% include 'app/result.html' %}
        {% endfor %}
    </div>
    <div class="row">
        {% include 'app/pagination.html' %}
    </div>
    {% else %}
    <div class="row">
        <h3>No results!</h3>
    </div>
    {% endif %}
</div>
{% endblock %}