{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="search">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                
                <h4>Search results:</h4>
                <ul>
                {% if results %}
                {% for element in results.businesses %}
                    <li>{{ element }}</li>
                {% endfor %}
                {% endif %}
                </ul>

                {% if form.errors %}
                {{ form.errors }}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
