{% extends "app/layout.html" %}

{% block content %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Group Voting</h1>
            <!-- If no group -->
            <p class="lead">Start a group, and start voting!</p>
            <!-- Else group -->
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>I/we just have no idea...</h2>
                <p>Have us make a choice for you, based on what you've shared with us.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Choose for me &raquo;</a></p>
            </div>
        </div>
    </div>

{% endblock %}