/* navbar */
.navbar {
    z-index: 50;
}

.navbar-nav {
    padding-top: 0.5rem;
    position: relative;
}

.nav-item {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar-nav li {
    display: inline;
}


/* div - content */
div.categories {
    height: 25px;
    line-height: 1.0;
    font-size: 100%;
}


/* dropdown */
.drop {
    padding: 0px 0.75rem;
}

.dropdown {
    padding-left: 0;
    padding-right: 0;
    right: 0;
}

.dropdown-submenu {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    right: 0;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    left: 2em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}


/* button */
form button, div button {
    padding: .5rem .5rem 0 0;
}

button.grp-rem {
    padding: .25rem .5rem;
}

.btn {
    margin-right: 10px;
}

.btn-info {
    margin-left: 0;
}

button.ctr {
    width: 100%;
}
.btn-link {
    margin-top: 8px;
    color: #ffffff;
}

.btn-link:link {
    color: #ffffff;
    text-decoration: none;
}

.btn-link:visited {
    color: #c5c5c5;
    text-decoration: none;
}

.btn-link:focus {
    color: #c5c5c5;
    text-decoration: none;
}

.btn-link:hover {
    color: #c5c5c5;
    text-decoration: none;
}

.btn-linkk:active {
    color: #ffffff;
    text-decoration: none;
}


/* thumbnail w/ caption */
.thumbnail {
    display: block;
    padding: 4px;
    background-color: #eceeef;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 318px;
    height: 621px;
    float: left;
    margin: 8px 8px 8px 8px;
}

.resize_fit_center {
    width: 308px;
    height: 308px;
    vertical-align: middle;
    overflow: hidden;
    object-fit: cover;
}

.thumbnail.user {
    display: block;
    padding: 4px;
    background-color: #ffffff;
    border: none;
    float: left;
}


/* p - paragraph */
p.small {
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.price {
    height: 16px;
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.phone {
    height: 16px;
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.address {
    height: 48px;
    line-height: 1.0;
    font-size: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

p.blocktext {
    justify-content: center;
}


/* ul - unsorted list */
ul {
    padding-left: 0;
    list-style-type: none;
}

ul li:hover ul {
    display: block;
}


/* li - list item */
li {
    padding-left: 0;
    list-style-type: none;
}

li.ctr {
    padding-top: 10px;
    padding-left: 10px;
    width: 100%;
}


/* a - links */
a.nav-link {
    color: #ffffff;
    padding-left: 0;
}


/* headings */
h1 {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    line-height: 2.0;
}

h2, h3 {
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h5 {
    padding-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


/* Disable checkboxes & radio buttons, because they're weird */
input[type="radio"]:disabled, input[type="checkbox"]:disabled {
    cursor: auto;
}


/* Star Rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
    margin: 0;
    padding: 0;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    width: 100px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
}

.star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    padding-bottom: 10px;
}

.star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
    padding-bottom: 10px;
}

.star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
}

.star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v16/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UNirkOUuhs.ttf) format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v16/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf) format('truetype');
}